{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Robot Dashboard</h1>
        </div>
    </div>
    <div id="dashboard">
        <div class="row">
            <button id="camera_test" type="button" class="btn btn-danger" onClick="new_ajax_helper('/camera_test');">Camera Test</button>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <img src="/videofeed" height="480" width="640">
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/dashboard.js"></script> 
{% endblock %}